<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		
		">


	<bean id="parentSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${dataSource.driverClassName}"></property>
		<property name="maxTotal" value="${dataSource.maxPoolSize}" />
		<property name="initialSize" value="${dataSource.initialPoolSize}" />
		<property name="maxIdle" value="${dataSource.maxIdleTime}" />
		<property name="validationQuery">
			<value><![CDATA[${dataSource.preferredTestQuery}]]></value>
		</property>
	</bean>

	<!-- 写节点 -->
	<bean id="masterDataSource" parent="parentSource">
		<property name="username" value="${dataSource.username.write}"></property>
		<property name="password">
			<value><![CDATA[${dataSource.password.write}]]></value>
		</property>
		<property name="url">
			<value><![CDATA[${dataSource.url.write}]]></value>
		</property>
	</bean>

	<!-- 读节点 -->
	<bean id="slave01DataSource" parent="parentSource">
		<property name="username" value="${dataSource.username.read}"></property>
		<property name="password">
			<value><![CDATA[${dataSource.password.read}]]></value>
		</property>
		<property name="url">
			<value><![CDATA[${dataSource.url.read}]]></value>
		</property>
	</bean>

	<!-- 读节点 -->
	<bean id="slave02DataSource" parent="parentSource">
		<property name="username" value="${dataSource.username.read}"></property>
		<property name="password">
			<value><![CDATA[${dataSource.password.read}]]></value>
		</property>
		<property name="url">
			<value><![CDATA[${dataSource.url.read}]]></value>
		</property>
	</bean>


	<!-- 用于主从库切换 -->
	<!-- 特地取了一个名字为 dynamicDataSource，应为SpringBoot默认加载的是DataSource -->
	<bean id="dataSource" class="org.leo.orm.dao.dynamic.DynamicDataSource">
		<!-- 设置多个数据源 -->
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<!-- 这个key需要和程序中的key一致 -->
				<entry key="master" value-ref="masterDataSource" />
				<entry key="slave1" value-ref="slave01DataSource" />
				<entry key="slave2" value-ref="slave02DataSource" />
			</map>
		</property>
		<!-- 设置默认的数据源，这里默认走写库 -->
		<property name="defaultTargetDataSource" ref="masterDataSource" />
	</bean>


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>



	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg>
			<ref bean="sqlSessionFactory" />
		</constructor-arg>
	</bean>


	<!-- mybatis数据映射配置文件扫描器配置 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.leo.simple.mybatis.dao.**.mapper" />
	</bean>


	<!-- 定义AOP切面处理器 -->
	<!-- 这个AOP要在事务之前 -->
	<bean class="org.leo.orm.dao.dynamic.DataSourceAspect" id="dataSourceAspect" />

	<!-- -->
	<tx:annotation-driven transaction-manager="transactionManager"
		order="10" />

	<!-- 事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


</beans>
